@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
   font-size: 2.3rem;
   font-weight: bold;
   margin: 0.5rem 0;
}
h2 {
   font-size: 1.9rem;
   font-weight: 900;
   margin: 0.5rem 0;
}
h3 {
   font-size: 1.5rem;
   font-weight: 800;
   margin: 0.5rem 0;
}
h4 {
   font-size: 1.3rem;
   font-weight: 700;
   margin: 0.5rem 0;
}
h5 {
   font-size: 1.1rem;
   font-weight: 600;
   letter-spacing: 0.005rem;
   margin: 0.5rem 0;
}
h6 {
   font-size: 0.8rem;
   font-weight: 500;
   letter-spacing: 0.05rem;
   margin: 0.5rem 0;
} 

.text-xl {
    font-size: 1.25rem;
}
.text-lg {
    font-size: 1.125rem;
}
.text-sm {
    font-size: 0.875rem;
}
.text-xsm {
    font-size: 0.75rem;
}

.text-gray {
    color: var(--color-gray);
}

.text-strick {
    text-decoration: line-through;
}

.text-underline {
    text-decoration: underline;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
