<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text utilities</title>
     <!-- css links -->
     <link rel="stylesheet" href="text-utility.css">
     <link rel="stylesheet" href="../common.css">
</head>
<body>
    <h1>Text Utilities</h1>
    <p>By using below mentioned css classes, you can mirror the below components.</p>

    <!-- Headings -->
    <h3>Headings:</h3>
    <div class="container flex-direction align-item">
        <h1>H1 Heading.</h1>
        <h2>H2 Heading.</h2>
        <h3>H3 Heading.</h3>
        <h4>H4 Heading.</h4>
        <h5>H5 Heading.</h5>
        <h6>H6 Heading.</h6>
    </div>
    <div>
        <iframe
        class="code-snippet"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Ch1%253EH1%2520Heading.%253C%252Fh1%253E%250A%2520%2520%253Ch2%253EH2%2520Heading.%253C%252Fh2%253E%250A%2520%2520%253Ch3%253EH3%2520Heading.%253C%252Fh3%253E%250A%2520%2520%253Ch4%253EH4%2520Heading.%253C%252Fh4%253E%250A%2520%2520%253Ch5%253EH5%2520Heading.%253C%252Fh5%253E%250A%2520%2520%253Ch6%253EH6%2520Heading.%253C%252Fh6%253E"
        sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>

    <!-- Text Sizes -->
    <h3>Text sizes:</h3>
    <div class="container flex-direction align-item">
        <p class="text-xl">Extra Large Paragraph.</p>
        <p class="text-lg">Large Paragraph.</p>
        <p>Medium Paragraph.</p>
        <p class="text-sm">Small Paragraph.</p>
        <p class="text-xsm">Extra Small Paragraph.</p>
    </div>
    <div>
        <iframe
        class="code-snippet"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cp%2520class%253D%2522text-xl%2522%253EExtra%2520Large%2520Paragraph.%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522text-lg%2522%253ELarge%2520Paragraph.%253C%252Fp%253E%250A%2520%2520%253Cp%253EMedium%2520Paragraph.%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522text-sm%2522%253ESmall%2520Paragraph.%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522text-xsm%2522%253EExtra%2520Small%2520Paragraph.%253C%252Fp%253E"
        sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>

    <!-- Text alignment -->
    <h3>Text alignment:</h3>
    <div class="container flex-direction">
        <div class="border padding-1">
            <p class="text-left">Left-side text.</p>
        </div>
        <div class="border padding-1">
            <p class="text-center">center text.</p>
        </div>
        <div class="border padding-1">
            <p class="text-right">Right-side text.</p>
        </div>
    </div>
    <div>
        <iframe
        class="code-snippet"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cp%2520class%253D%2522text-left%2522%253ELeft-side%2520text.%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522text-center%2522%253Ecenter%2520text.%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522text-right%2522%253ERight-side%2520text.%253C%252Fp%253E"
        sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>

    <!-- Other utilities -->
    <h3>Other utilities:</h3>
    <div class="container flex-direction align-item">
        <p class="text-gray">Gray text.</p>
        <p class="text-strick">Strick text.</p>
        <p class="text-underline">Underline text.</p>
    </div>
    <div>
        <iframe
        class="code-snippet"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cp%2520class%253D%2522text-gray%2522%253EGray%2520text.%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522text-strick%2522%253EStrick%2520text.%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522text-underline%2522%253EUnderline%2520text.%253C%252Fp%253E"
        sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>
</body>
</html>