.grid-2 {
    margin: 8px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
}

.grid-30-70 {
    grid-template-columns: 3fr 7fr;
}

.grid-70-30 {
    grid-template-columns: 7fr 3fr;
}

.grid-3 {
    margin: 1rem;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
}