@import "./components/common.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0rem;
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  grid-area: nav;
  height: 100vh;
  background-color: var(--color-green-600);
  position: sticky;
  top: 3.7rem;
  left: 0;
  bottom: 0;
}

.main {
  grid-area: main;
  margin: 0rem 1rem;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
}

.component-navbar-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 13rem;
  padding: 1rem;
  padding-top: 2rem;
  margin-left: 2rem;
  text-align: left;
}

.m-right-2 {
  margin-right: 2rem;
}
