@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "./components/common.css";

body {
  margin: 0rem;
  background-color: var(--color-main-bg);
  scroll-behavior: smooth;
}

/* header Section */
.header {
  position: sticky;
  top: 0;
  z-index: 5;
}

.header h1 {
  font-family: 'Permanent Marker', cursive;
  margin-left: 2.5rem;
}

.navbar-container {
  padding: 0;
}

/* Main Section */
.main {
  display: flex;
  position: relative;
}

/* Aside Section */
.aside {
  border-right: 2px solid var(--color-silver);
  position: sticky;
  top: 4.8rem;
  height: calc(100vh - 4.8rem);
}

.aside h5 {
  color: var(--color-black);
  transition: all 0.2s linear;
}

.aside h5:hover{
  color: var(--color-green-600);
  transform: translateX(5%);
}

.aside-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 12rem;
  padding: 1rem;
  margin-left: 2rem;
}

/* Content Section */
.content {
  margin: 0 2rem;
}
