.card {
    padding: 1rem;
    width: 15.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-border-radius {
    border-radius: 0.625rem;
}

.card-vertical {
    padding: 0;
    width: 17.2rem;
}

.card-horizontal {
    padding: 0;
    width: 30rem;
    flex-direction: row;
}

.card-margin-bottom {
    margin: 0 0 0.5rem 0;
}

.card-margin-top-bottom {
    margin: 0.5rem 0;
}

.card-margin-top {
    margin-top: 0.8rem;
}

.card-margin-0 {
    margin: 0;
}

.card-margin {
    margin: 0.5rem;
}

.card-box-shadow {
    box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem var(--color-silver);
}

.card-pos-abs {
    position: absolute;
}

.card-pos-rel {
    position: relative;
}

.card-close-pos {
    font-size: 1.3rem;
    top: 0.4rem;
    right: 0.5rem;
    cursor: pointer;
    color: var(--color-gray);
}

.card-close-pos:hover {
    color: var(--color-red);
}

.card-badge-pos {
    top: 0.5rem;
    left: 0rem;
}

.card-discount {
    color: var(--color-green);
}

.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
    background-color: var(--color-overlay);
}

.card-text-overlay {
    width: 100%;
    font-size: 1.35rem;
    font-weight: bolder;
    color: var(--color-red);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-text-overlay h3 {
    font-size: 1.4rem;
}

.card-text-strick {
    text-decoration: line-through;
}

.card-flex {
    display: flex;
    justify-content: space-around;
}

.card-display {
    display: inline-block;
}

.card-background-color{
    background-color: var(--color-white);
}
