:root {
    --btn-color: #059669;
    --btn-danger-color: red;
    --btn-orange-color: orange;
}

button {
    cursor: pointer;
}

.button {
    padding: 7px 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

.btn-primary {
    background-color: var(--btn-color);
    color: white;
}

.btn-secondary {
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    background-color: white;
}

.btn-link {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn-danger {
    background-color: var(--btn-danger-color);
    color: white;
}

.btn-floating {
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60rem;
    border: none;
    background-color: var(--btn-orange-color);
    box-shadow: 0px 6px 6px 0px #bcbcbc;
    transition: all 0.5s ease-in-out;
}

.btn-floating:hover {
    transform: scale(1.1);
}

.btn-icon {
    background-color: white;
}

.btn-icon-danger {
    color: var(--btn-danger-color);
}



