button {
    cursor: pointer;
}

.btn {
    padding: 0.4375rem 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

.btn-primary {
    background-color: var(--color-green-600);
    color: var(--color-white);
}

.btn-secondary {
    border: 2px solid var(--color-green-600);
    color: var(--color-green-600);
    background-color: var(--color-white);
}

.btn-link {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn-danger {
    background-color: var(--color-red);
    color: var(--color-white);
}

.btn-floating {
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60rem;
    border: none;
    background-color: var(--color-orange);
    box-shadow: 0rem 0.375rem 0.375rem 0rem var(--color-sliver);
    transition: all 0.5s ease-in-out;
}

.btn-floating:hover {
    transform: scale(1.1);
}

.btn-icon {
    background-color: transparent;
}

.btn-icon-danger {
    color: var(--color-red);
}



