.avatar {
    display: inline-block;
}

.avatar-xl {
    width: 9rem;
    height: 9rem;
    font-size: 2rem;
}

.avatar-lg {
    width: 7rem;
    height: 7rem;
    font-size: 1.7rem;
}

.avatar-md {
    width: 5rem;
    height: 5rem;
    font-size: 1.4rem;
}

.avatar-sm {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
}

.avatar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-weight: bolder;
    background-color: var(--color-green-800);
    border-radius: 50%;
}
