:root {
  --color-overlay: #ebecf0;
  --color-lightgrey: #d3d3d3;
  --color-silver: #bcbcbc;
  --color-green-50: #ecfdf5;
  --color-green-100: #d1fae5;
  --color-green-200: #a7f3d0;
  --color-green-400: #34d399;
  --color-green-300: #6EE7B7;
  --color-green-600: #059669;
  --color-green-700: #047857;
  --color-red: #ff0000;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-orange: #ffa500;
  --color-white: #ffffff;
  --color-green: #008000;
}

.code-snippet {
  margin: 1rem 0rem;
  padding: 1rem 2rem;
  background-color: var(--color-green-50);
  border-radius: 0.625rem;
  width: 42.5rem;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-green-50);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.625rem;
}

.flex-gap-2 {
  gap: 2rem;
}

.align-item-end {
  align-items: flex-end;
}

