:root {
  --code-snippet-color: #a7f3d0;
}

.code-snippet {
  margin: 1rem 0rem;
  padding: 1rem 2rem;
  background-color: var(--code-snippet-color);
  border-radius: 10px;
  width: 42.5rem;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-gap-2 {
  gap: 2rem;
}

.align-item-end {
  align-items: flex-end;
}
