@import "./component.css";

.code-snippet {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--color-green-100);
  border-radius: 0.625rem;
  width: 42.5rem;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-green-100);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.625rem;
}

.flex-direction {
  flex-direction: column;
}

.align-item {
  align-items: center;
}

.border {
  border: 1px solid var(--color-black);
}

.padding-1 {
  padding: 1rem;
}

.flex-gap-2 {
  gap: 2rem;
}

.align-item-end {
  align-items: flex-end;
}
