.ul-circle {
    list-style-type: circle;
}

.ul-square {
    list-style-type: square;
}

.ul-disc {
    list-style-type: disc;
}

.ul-none {
    list-style-type: none;
}

.ol-lower-alpha {
    list-style: lower-alpha;
}
.ol-upper-alpha {
    list-style: upper-alpha;
}
.ol-lower-roman {
    list-style: lower-roman;
}
.ol-upper-roman {
    list-style: upper-roman;
}

.list-stacked {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 15rem;
}

.list-stacked li {
    padding: 0.3rem;
    background-color: var(--color-green-400);
    width: 93%;
    text-align: center;
}



