.alert {
  width: 30ch;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 8px;
}

.alert i{ 
  font-size: 1.3rem;
  margin-right: 4px;
}

.alert-success {
  background-color: var(--color-green-200);
  color: var(--color-green-800);
  border-color: var(--color-green-200);
}

.alert-info {
  background-color: var(--color-blue-300);
  color: var(--color-blue-800);
  border-color: var(--color-blue-300);
}

.alert-warning {
  background-color: var(--color-orange-200);
  color: var(--color-orange-800);
  border-color: var(--color-orange-200);
}

.alert-danger {
  background-color: var(--color-red-300);
  color: var(--color-red-800);
  border-color: var(--color-red-300);
}

.alert-border {
  border: 2px solid;
}
