@import "../components/common.css";

:root {
  --z-index-header: 5;
  --z-index-aside-bar: 8;
}

body {
  box-sizing: border-box;
  margin: 0rem;
  background-color: var(--color-main-bg);
  scroll-behavior: smooth;
}

/* header Section */
.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
}

.navbar-container {
  padding: 0;
}

.navbar-container a:nth-child(1) {
  display: none;
}

/* Main Section */
.main {
  display: flex;
  position: relative;
}

/* Aside Section */
.aside {
  border-right: 2px solid var(--color-silver);
  position: sticky;
  top: 4.8rem;
  height: calc(100vh - 4.8rem);
}

.aside-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 12rem;
  padding: 0 1rem;
  margin-left: 2rem;
}

.aside a {
  color: var(--color-black);
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.aside a::before {
  content: "";
  display: inline-block;
  padding: 3px;
  border-radius: 1rem;
  background-color: var(--color-black);
  margin-right: 1rem;
}

.aside a:hover {
  color: var(--color-green-600);
  transform: translateX(7%);
}

.aside a:hover::before {
  background-color: var(--color-green-600);
}

/* Content Section */
.content {
  margin: 0 2rem;
}

/* Prismjs for code snippets */

.prism-js {
  margin: 2rem 0;
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 12px;
  background-color: var(--color-green-400);
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

/* Responsiveness */

@media screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
  }

  .aside {
    display: none;
    height: auto;
    position: fixed;
    top: 4.3rem;
    z-index: var(--z-index-aside-bar);
    background-color: var(--color-silver);
    border: none;
    overflow: scroll;
  }

  .navbar-container a:nth-child(1) {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .navbar h1 {
    margin-left: 0;
  }

  .navbar-container a:nth-child(3) {
    margin-right: 1.5rem;
  }

  .navbar-container a:nth-child(4),
  .navbar-container a:nth-child(5),
  .navbar-container a:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar-container a:nth-child(3) {
    display: none;
  }
}
